<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<script src="tree.js"></script>
<body>

<script type="text/ng-template"  id="index.html">
    {{data.name}}
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.children.length > 0">Delete nodes</button>
    <ul>
        <li ng-repeat="child in data.children" ng-include="'index.html'"></li>
    </ul>
</script>

<ul ng-app="myApp" ng-controller="TreeController">
    <li ng-repeat="child in tree" ng-include="'https://raw.githubusercontent.com/tylerjack/Test-Tree/master/index.html'"></li>
</ul>
</body>
</html>


